@CHARSET "ISO-8859-1";

* {
	padding: 0px;
	margin: 0 auto;
	box-sizing: border-box;
}

hr {
	margin: 0px 0px 5px 0px;
	border-top: 1px solid #dbdbdc;
}

h3 {
	margin-top: 0px;
	word-wrap: break-word;
}

button {
	border: none !important;
	border-radius: 2px !important;
}

div.post {
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 2px;
	border: 1px solid #b2c3e0;
	background-color: rgba(209, 226, 255, 0.16);
}

div.post img {
	width: 100%;
}

div#status {
	margin-bottom: 40px;
}

#status textarea {
	border-radius: 2px;
	margin-top: 55px;
	width: 100%;
	border: 1px solid #658aca;
	padding: 5px;
	background-color: transparent;
}

.header {
	position: fixed;
	z-index: 10000;
	width: 100%;
	background-color: #3e62a0;
	min-height: 50px;
	max-height: 50px;
	color: #fff;
}

.header p {
	padding: 15px;
}

div.typingStatus {
	width: 100%;
	min-height: 50px;
	margin-bottom: 10px;
}

div.typingStatus img {
	width: 100%;
	height: 50px;
	border: 1px solid #b2c3e0;
}

button.btn-danger {
	margin-left: 2px;
}

div.online-user {
	margin-top: 50px;
	background-color: #e9ebee;
	width: 200px;
	height: 100%;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: -100;
	overflow: scroll;
	border-left: 1px solid #c3c3c3;
}

.user {
	padding: 5px;
	border-bottom: 1px solid #e9ebee;
}

img.profile {
	width: 30px;
	height: 30px;
}

img.online-status {
	width: 8px;
	height: 8px;
	float: right;
	top: 10px;
	position: relative;
}