<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Admin Page | Spring</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	
	<div class="container-fluid">
		<button id="join">Join room</button>
		<button id="leave">Leave room</button>
		<button id="send">Send message to room</button>
		
		 <input type="file" name="file" id="file" />
		 
	</div>
	
	<script src="/static/js/socket.io/socket.io.js"></script>
    <script src="/static/js/jquery-1.7.2.min.js"></script>
    <script>
    
   		var server = "http://localhost:3000/feed";
		var socket =  io.connect(server);

    	socket.on('connect', function(){
			console.log('connected to server', socket.id);
			
			setTimeout(function(){
				socket.emit('message', {
					id:'10',
					text: 'hello world'
				});
			}, 2000);
		});   
    	
    	$('button#join').on('click', function(){
			socket.emit('join', 'Android Room', function(ack){
				console.log('callback', ack);
			});	
		});
    	
    	$('button#send').on('click', function(){
			socket.emit('toroom', 'Hello everyone in this room!', function(ack){
				console.log('callback', ack);
			});	
		});
    	
    	$('button#leave').on('click', function(){
			socket.emit('leave', 'Android Room', function(ack){
				console.log('callback', ack);
			});	
		});
    	
    	socket.on('joined', function(data){
    		console.log('message:', data);
    	});
    	
    	socket.on('room-message', function(data){
    		console.log('message:', data);
    	});
    	
    	socket.on('left', function(data){
    		console.log('message:', data);
    	});
    	
    	
    	$(document).ready(function() {

            var fileInput = $('#file');
            
            fileInput.bind({
              change: function() {
                displayFiles1(this.files);
              }
            });

            function displayFiles(files) {
            	console.log(files);
                $.each(files, function(i, file) {      
                   //if (!file.type.match(/image.*/)) { return true;}           
                   var reader = new FileReader();
                   reader.onload = function(e) {
                      socket.emit('binary', e.target.result);
                   };
                   reader.readAsArrayBuffer(file);
                });
            }
            
            function displayFiles1(files) {
            	 console.log(files);
            	 $.each(files, function(i, file) {      
	            	 console.log(file.type);
	            	 var reader = new FileReader();
	                 reader.onload = function(e) {
	                	  console.log(e);
	                      socket.emit('object', {
	                    	  name: file.name,
	                    	  file: e.target.result,
	                    	  type: file.type
	                      }); 
	                 };
	                 reader.readAsArrayBuffer(file);
            	 });
            }
        });		
    </script>
</body>
</html>